# Venv Python
python-tools/venv/

# Label Studio données
label-studio-data/

# Datasets (trop lourds pour GitHub)
datasets/raw_images/
datasets/split_output/
datasets/ball_detect/
datasets/line_seg/

# Modèles entraînés
*.pt
*.onnx
*.bin

# OpenVINO
DEMOREALSENSE/Models/ball_openvino/
DEMOREALSENSE/Models/line_openvino/

# Build
DEMOREALSENSE/bin/
DEMOREALSENSE/obj/

# Visual Studio
.vs/
*.user
*.suo